@import "../../../../../assets/sass/themes/default";
.general__BG {
  padding-bottom: 30rem;
  .content {
    background-color: $black-color;
    border: 1px solid $primary-color;
    h2 {
      color: $primary-color-hovered;
    }
    form {
      button {
        height: 40px;
        width: 100%;
        background-color: $primary-color;
        border: 1px solid rgba(112, 112, 112, 0.5);
        border-radius: 2px;
        font-size: 12px;
        color: #242424;
      }
      .form-control {
        height: 40px;
        font-size: 12px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .other__login {
      .btn__action {
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn {
          line-height: 2px;
          display: block;
          height: 40px;
          width: 100%;
          border-radius: 2px;
        }
      }
      .facebook {
        background-color: #3c5a98;
        margin-bottom: 20px;
        color: $white-color;
      }
      .google {
        background-color: $white-color;
      }
      p {
        &:first-child {
          color: #585858;
          font-size: 14px;
          margin-bottom: 0;
        }
        &.sign__up {
          a {
            color: $white-color;
          }
        }
      }
    }
  }
}
