@import "../../../../assets/sass/main";

.login-form {
  p {
    text-align: center;
  }
  .input-group {
    border: 1px solid rgba($black-color, 0.3);
    border-radius: 0.25rem;
    .input-group-text {
      background-color: transparent;
      border: 0;
      i {
        font-size: 2rem;
      }
    }

    .form-control {
      border: 0;
      margin: 0;
    }
  }

  form {
    width: 50%;
    margin: 0 auto;

    button {
      margin-bottom: 2rem;
      font-size: 20px;
    }
  }
}
