<section id="ride-option">
  <div class="container">
    <div class="component-header">
      <h1>ride option</h1>
      <p>Leo perspiciatis? Exercitationem molestias habitant proin justo sem. Luctus.</p>
    </div>
    <div class="row">
      <div class="col-3">
        <victoria-ride></victoria-ride>
      </div>
      <div class="col-3">
        <victoria-ride></victoria-ride>
      </div>
      <div class="col-3">
        <victoria-ride></victoria-ride>
      </div>
      <div class="col-3">
        <victoria-ride></victoria-ride>
      </div>
    </div>
  </div>
</section>
