@import "../../../../assets/sass/main";
.content {
  p {
    &.new-experiment {
      font-size: 2.5rem;
    }
    &.offering {
      font-size: 1.25rem;
    }
    &.search-now {
      font-size: 1.75rem;
    }
    &.auto-stelling {
      font-family: "Montserrat";
      font-size: 1rem;
      color: $white-color;
      display: flex;
      align-items: center;
      cursor: pointer;
      span {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: $primary-color;
        margin-left: 2rem;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        display: inline-flex;
        &:hover {
          background-color: darken($color: $primary-color, $amount: 20);
        }
      }
    }
  }
  button {
    margin-bottom: 1rem;
  }
}

::ng-deep {
  .general__BG {
    .content {
      padding: 10rem 0 5rem;
    }
  }
  #search__modal {
    @media (min-width: 992px) {
      .modal-lg {
        max-width: 900px;
      }
    }
    .modal-content {
      background-color: $black-color;
      border: 1px solid $primary-color;
      border-radius: 4px;
      .modal-header {
        padding-bottom: 0;
        span {
          color: $white-color;
        }
        &::before,
        &::after {
          display: none;
        }
      }
      .modal-body {
        padding-top: 0;
      }
    }
  }
}
// .content[_ngcontent-qla-c2] p.auto-stelling span
::ng-deep {
  #rtl {
    #search__modal {
      .modal-header {
        .close {
          margin-left: 0;
          margin-right: auto;
        }
      }
    }
    p {
      &.auto-stelling {
        span {
          margin-left: 0;
          margin-right: 2rem;
        }
      }
    }
  }
}
