#ride-option {
  padding: 4rem 0;

  .component-header {
    text-align: center;
    margin-bottom: 4rem;

    h1 {
        font-family: Poppins-SemiBoldItalic, sans-serif;
      font-size: 3.25rem;
      text-transform: capitalize;
    }

    p {
      font-size: 1.25rem
    }
  }
}
