#ride-option {
  padding: 5rem 0;

  .component-header {
    text-align: center;
    margin-bottom: 5rem;

    h1 {
      font-size: 3.25rem;
      text-transform: capitalize;
    }

    p {
      font-size: 1.25rem
    }
  }
}
