<section class="about-us" [ngClass]="{'primary' : !theme, 'secondary' : theme}">
  <div class="media-center-bg" [ngClass]="{'primary' : !theme, 'secondary' : theme}">
    <img src="" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h2>Know What Your </h2>
        <h4>Customer thinks.</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nemo quam quas reiciendis alias iusto eligendi dicta neque maxime. Voluptatibus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, sed!</p>
        <button class="btn " [ngClass]="{'button-primary': !theme , 'button-secondary' : theme }">lorem</button>
      </div>
    </div>
  </div> 
</section>