// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  // color: $brand-color;
  text-decoration: none;

  @include on-event {
    // color: $text-color;
    text-decoration: underline;
  }
}

body {
  font-family: 'Poppins-Regular';
  padding-top: 6.25rem;
}

.container{
    max-width: 1596px;
    padding-#{$right}: 28px;
    padding-#{$left}: 28px;

    @include mq('laptop', 'max') {    
      max-width: 1180px;
      padding-#{$left}: 20px;
      padding-#{$right}: 20px;
    }
}

.row {
    margin-#{$right}: -21px;
    margin-#{$left}: -21px;

    @include mq('laptop', 'max'){    
      margin-#{$right}: -15px;
      margin-#{$left}: -15px;
    }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
    padding-#{$right}: 21px;
    padding-#{$left}: 21px;    
    
    @include mq('laptop', 'max'){    
      padding-#{$right}: 15px;
      padding-#{$left}: 15px;
    }
}

.hide{
  display:none !important;
}

.show{
  display:block !important;
}
.text-gray {
  color: $text-gray!important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-secondary {
  background: $secondary-color !important;
}

.hideHead{
  display: none;
}

.error::before{
  content: '*';
}