#s4-workspace *, #s4-workspace *:before, #s4-workspace *:after {
    box-sizing: border-box;
    outline: none;
}

#s4-bodyContainer{
    padding: 0;
    padding-top: 5rem;
}

div.ms-webpart-cell-vertical-inline-table,.ms-webpart-chrome-vertical,.ms-webpart-zone{
    display:block !important;
    margin: 0;
} 
