#media-tabs {

    .nav,
    .noData {
        width: calc(100% - 41rem);
        margin-#{$left}: auto;

        .nav-item {
            position: relative;
            border-bottom: 1px solid $border-gary;
            padding: 0 0.25rem;
        }

        .nav-link {
            position: relative;
            cursor: pointer;
            font-size: 1.125rem;
            padding: 0.5rem .625rem;

            &.active {
                background: none;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background: $secondary-color;
                    bottom: -2px;
                    #{$left}: 0;
                    #{$right}: auto;
                    z-index: 99;
                }
            }

        }
    }

    h3 {
        margin: 0;
        color: $white-color;
        transform: translateX(calc((1596px/2) - 50vw));
        margin-#{$left}: 2.625rem;

        @include mq('laptop', 'max') {
            transform: translateX(calc((1180px/2) - 50vw));
        }

    }
}