@import "../../../../../../assets/sass/main";

::ng-deep {
  .ride-option-modal {
    @include prefix("transform", "translate(0, 50%)");

    .modal-header {
      h3 {
        display: none;
      }
      &::before, &::after {
        content: none;
      }
    }

    .modal-body {
      padding: 1rem 10rem;
      text-align: center;

      & > span,
      & > p {
        font-family: Poppins-Medium, sans-serif;
      }

      & > span {
        font-size: 2.25rem;
      }

      & > p {
        font-size: 3.125rem;
      }

      .btn-actions {
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;

        span {
          border: 1px solid;
          border-radius: 6px;
          padding: 0.5rem 1.5rem;
          cursor: pointer;
          font-family: Poppins-Regular, sans-serif;
          box-shadow: 0 0.5rem 1rem rgba($black-color, 0.42);
          position: relative;

          &.active:before {
            content: "\2713";
            position: absolute;
            top: -0.5rem;
            #{$right}: -0.5rem;
            background: green;
            color: $white-color;
            border-radius: 50%;
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1rem;
          }
        }
      }

      .location-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29rem;
        margin: 0 auto 3rem;

        input {
          width: 100%;
          background: $whitesmoke;
          box-shadow: 0 0.5rem 1rem rgba($black-color, 0.42);
          height: calc(2em + 0.75rem + 2px);
          margin-bottom: 2rem;
        }
      }

      .notes {
        display: flex;
        width: 50%;
        align-items: center;

        p {
          margin: 0;
          width: 75%;
          font-family: Poppins-Regular, sans-serif;
          color: rgba($black-color, 0.66);
          font-size: 1.125rem;
          text-align: $left;
        }

        span {
          font-family: Poppins-Meduim, sans-serif;
          text-transform: uppercase;

          .price {
            font-size: 4rem;
          }

          .currency {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
