<div class="modal-header">
  <!-- <h4 class="modal-title pull-left">Modal</h4> -->
  <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <span>Welcome to</span>
  <p>Price Estimator</p>
  
  
  <div class="btn-actions">
    <ng-template ngFor let-option [ngForOf]="rideOptions">
      <span (click) = "updateRideSelection(option.title)" [ngClass]="{'active' : selectedRide == option.title}">{{'rideOption.' + option.id + '.title' | translate}}</span>
    </ng-template>
  </div>
  <div class="location-container">
    <input type="text" class="form-control" placeholder="Enter location">
    <input type="text" class="form-control" placeholder="Enter destination">
  </div>
  <div class="notes">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <span><span class="price">20</span><span class="currency">le</span></span>
  </div> -->
  <ng-content></ng-content>
</div>
