<!-- <button class="lang-flag" (click)="changeLanguage($event,'ar')"
  [ngClass]="{'active':isArabicLanguage}">عربي</button>

<button class="lang-flag" (click)="changeLanguage($event,'en')"
  [ngClass]="{'active':!isArabicLanguage}">English</button> -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top  victoria-header">
    <div class="left-side" [ngClass]="{'open' : openMenu}">
      <i class="icon-menu menu" (click)="toggleMenu()"></i>
    <div class="pages"  [ngClass]="{'openMenu' : openMenu}">
      <ul class="navbar-nav mr-auto" [ngClass]="{'show-data' : openMenu}">
        <li class="nav-item active">
          <a class="nav-link" href="#">About US </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"  >Help </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"  >News </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"  >Policies </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"  >Contact Us </a>
        </li>
      </ul>
    </div>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="#" ><img src="../../../../assets/images/logo.png" alt=""></a>
      <ul class="navbar-nav "  *ngIf="!openMenu">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
           Signup  <i class="arrow down"></i>        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Customer</a>
            <a class="dropdown-item" href="#">Driver</a>

          </div>
        </li>

      </ul>
     <div class="right-side ml-auto">
        <button class="button button-primary lang " (click)="changeLanguage()"
        >AR</button>
        <button class="button button-outline login">login</button>
     </div>
    </div>
  </nav>
