<!-- <button class="lang-flag" (click)="changeLanguage($event,'ar')"
  [ngClass]="{'active':isArabicLanguage}">عربي</button>

<button class="lang-flag" (click)="changeLanguage($event,'en')"
  [ngClass]="{'active':!isArabicLanguage}">English</button> -->
  <nav class="navbar navbar-expand-lg navbar-light  victoria-header">
    <img src="../../../../assets/images/icons/menu.png" class="menu-icon" alt="">

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="#" ><img src="../../../../assets/images/logo.png" alt=""></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>

        <li class="nav-item ">

          <a class="nav-link"  >
           Signup  <i class="arrow down"></i>        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Customer</a>
            <a class="dropdown-item" href="#">Driver</a>

          </div>
        </li>
      </ul>
     <div class="right-side">
        <button class="button button-primary lang " (click)="changeLanguage($event,'ar')"
        [ngClass]="{'active':isArabicLanguage}">AR</button>
        <button class="button button-outline login" (click)="open(loginModal)">login</button>
     </div>
    </div>
  </nav>

  <ng-template #loginModal bsModal>
    <victoria-modal [modalTitle]="modalTitle">
      <victoria-login></victoria-login>
    </victoria-modal>
  </ng-template>