#Quote {
    
    .default-image {
        .bgImg {
            border-radius: 0.5rem;
            position: relative;
            height: 12.1825rem;
            overflow: hidden;
            margin-bottom: 1.25rem;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                #{$left}: 0;
                #{$right}: auto;
                z-index: 99;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba($white-color, 0.23), rgba($black-color, 1));
                opacity: 0.45;
            }

            h3 {
                display: none;
            }
        }
    }

    .qoute-container {
        background: $primary-color;
        color: $white-color;
        padding: 1.25rem;
        border-radius: 0.5rem;
        position: relative;
        height: 12.1825rem;
        margin-bottom: 1.25rem;

        &:before {
            content: '';
            position: absolute;
            #{$right}: 2rem;
            top: -1.7rem;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 1.75rem 0 0 2rem;
            border-color: transparent transparent transparent $primary-color;
        }

        h5 {
            font-family: Max-SemiBold, sans-serif;
            margin-bottom: 1.5rem;
            line-height: 1.875rem;
        }

        .author {
            text-transform: capitalize;
            font-family: OpenSans-SemiBold, sans-serif;
            font-size: 1.125rem;
        }

        img {
            height: 100%;
            object-fit: cover;
        }

    }
}