// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
$primary-color: #ffd524;
$secondary-color: #13224b;
$green-color: #10b63e;
$primary-color-hovered: #ffc919;

$dark-gray-color: #656565;
$white-color: #fff;
$black-color: #000;
$border-gary: #e2e2e2;
$demmed-color: #c7c7c7;
$text-gray: #555;
$percent-bg: #aaaaaa;
$bar-bg: #efefef;
$whitesmoke: #f3f3f3;
$step-wizard-circle-radius: 1.8rem !default;
/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

.ng-select {
  .ng-select-container {
    min-height: 3rem;
  }
  .ng-arrow-wrapper {
    .ng-arrow {
      border-color: $primary-color transparent transparent;
    }
  }
}
::ng-deep {
  .modal-header {
    .close {
      &:focus {
        outline: none;
      }
    }
  }
}
