<section class="general__BG">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 m-auto">
        <div class="content">
          <h2>XZERO CAR</h2>
          <p>اضافة اعلان جديد</p>
          <div class="step-container" *ngIf="steps">
            <div *ngFor="let step of steps; let i = index" class="step-block">
              <div class="step-indicator" [ngClass]="{ active: i + 1 <= active, done: i + 1 < active }">
                {{ i + 1 }}
              </div>
              <div class="step-text">{{ step.title }}</div>
              <div class="step-rail"></div>
            </div>
          </div>
          <form class="text-left p-5" [formGroup]="newRequest">
            <div *ngIf="currentStep == 1">
              <div class="process__type">

                <span>نوع العملية</span>
                <label>
                  <input type="radio" value="1" formControlName="adTypeId">
                  <span class="title">بيع</span>
                  <span class="checkmark"></span>
                </label>
                <label>
                  <input type="radio" value="2" formControlName="adTypeId">
                  <span class="title">شراء</span>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>أختر الماركه </label>
                    <!-- placeholder="حدد ماركة السيارة" -->
                    <ng-select [items]="brands" bindLabel="name" bindValue="id" clearAllText="Clear"
                      formControlName="carBrand" (change)="getModels($event)">
                    </ng-select>
                    <span *ngIf="newRequest.get('carBrand').invalid && !newRequest.get('carBrand').untouched"
                      class="d-block text-danger p-3">carBrand is invalid! </span>

                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label> الموديل </label>
                    <!-- placeholder="حدد موديل السيارة" -->
                    <ng-select [items]="models" bindLabel="name" bindValue="id" clearAllText="Clear"
                      formControlName="modelId">
                    </ng-select>
                    <span *ngIf="newRequest.get('modelId').invalid && !newRequest.get('modelId').untouched"
                      class="d-block text-danger p-3">modelId is invalid! </span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>سعة المحرك </label>
                    <!-- placeholder="الرجاء إدخال سعة المحرك  " -->
                    <input type="text" class="form-control" formControlName="cc">

                    <span *ngIf="newRequest.get('cc').invalid && !newRequest.get('cc').untouched"
                      class="d-block text-danger p-3">cc is invalid! </span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>كيلو متر </label>
                    <!-- placeholder="الرجاء إدخال كيلو متر" -->
                    <input type="text" class="form-control" formControlName="km">
                    <span *ngIf="newRequest.get('km').invalid && !newRequest.get('km').untouched"
                      class="d-block text-danger p-3">km is invalid! </span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>نمط السيارة </label>
                    <!-- placeholder="shapeTypeId" -->
                    <ng-select [items]="shapTypes" bindLabel="name" bindValue="id" clearAllText="Clear"
                      formControlName="shapeTypeId">
                    </ng-select>
                    <span *ngIf="newRequest.get('shapeTypeId').invalid && !newRequest.get('shapeTypeId').untouched"
                      class="d-block text-danger p-3">shapeTypeId is invalid! </span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>نوع ناقل الحركة </label>
                    <!-- placeholder="حدد نوع ناقل الحركة " -->
                    <ng-select [items]="gearboxTypes" bindLabel="name" bindValue="id" clearAllText="Clear"
                      formControlName="gearboxId">
                    </ng-select>
                    <span *ngIf="newRequest.get('gearboxId').invalid && !newRequest.get('gearboxId').untouched"
                      class="d-block text-danger p-3">gearboxId is invalid! </span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>سنة الصنع </label>
                    <!-- placeholder="الرجاء إدخال سنة الصنع" -->
                    <input type="text" class="form-control" formControlName="year">
                    <span *ngIf="newRequest.get('year').invalid && !newRequest.get('year').untouched"
                      class="d-block text-danger p-3">year is invalid! </span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>اللون </label>
                    <!-- placeholder="الرجاء إدخال لون السيارة" -->
                    <ng-select [items]="carColor" bindLabel="name" bindValue="id" clearAllText="Clear"
                      formControlName="carColor">
                    </ng-select>
                    <span *ngIf="newRequest.get('carColor').invalid && !newRequest.get('carColor').untouched"
                      class="d-block text-danger p-3">carColor is invalid! </span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>السعر(.ج.م) </label>
                    <!-- placeholder="الرجاء إدخال سعر السيارة" -->
                    <input type="text" class="form-control" formControlName="price">
                    <span *ngIf="newRequest.get('price').invalid && !newRequest.get('price').untouched"
                      class="d-block text-danger p-3">price is invalid! </span>
                  </div>
                </div>
                <div class="col-12 offers__options">
                  <p>تضمين الإعلان في قسم العروض اذا كنت تقوم بعملية بيع اقل من السعر المحتمل</p>
                  <div class="form-group">
                    <label for="">معلومات إضافية حول السيارة</label>
                    <textarea class="form-control" formControlName="notes"></textarea>
                    <span *ngIf="newRequest.get('notes').invalid && !newRequest.get('notes').untouched"
                      class="d-block text-danger p-3">notes is invalid! </span>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="currentStep == 3">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>الاميل </label>
                    <!-- placeholder="الرجاء إدخال سعة المحرك  " -->
                    <input type="email" class="form-control" formControlName="email">
                    <span *ngIf="newRequest.get('email').invalid && !newRequest.get('email').untouched"
                      class="d-block text-danger p-3">email is invalid! </span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label> رقم الجوال </label>
                    <!-- placeholder="الرجاء إدخال سعة المحرك  " -->
                    <input type="tel" class="form-control" formControlName="mobile">
                    <span *ngIf="newRequest.get('mobile').invalid && !newRequest.get('mobile').untouched"
                      class="d-block text-danger p-3">mobile is invalid! </span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>المحافظة </label>
                    <ng-select [items]="governments" bindLabel="name" bindValue="id"
                      placeholder="Select your government" clearAllText="Clear" formControlName="governorateId">
                    </ng-select>
                    <span *ngIf="newRequest.get('governorateId').invalid && !newRequest.get('governorateId').untouched"
                      class="d-block text-danger p-3">governorateId is invalid! </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="action__button">
              <button *ngIf="currentStep != 3" class="button button-primary button-lg " (click)="nextStep()">
                التالى
              </button>
              <button *ngIf="currentStep == 3" class="button button-primary button-lg"
                (click)="onSubmit(newRequest)">تم</button>

              <button (click)="prevStep()" *ngIf="currentStep != 1" class="button button-primary button-lg ">
                رجوع
              </button>
              <button class="button btn__dismiss button-outline button-lg ">
                إالغاء
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-events-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-events-name" class="modal-title">تم رفع الاعلان بنجاح</h4>
        <button type="button" class="close " aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        سوف نقوم بمراجعه البايانات الخاصه بالاعلان في اقرب وقت
      </div>
    </div>
  </div>
</div>