

@import "../../../../assets/sass/themes/default";
@import "../../../../assets/sass/abstracts/mixins";

.step-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-bottom: 4rem;
  border-bottom: 1px solid #707070;
}

.step-block {
  position: relative;
  margin-top: $step-wizard-circle-radius/2;
  &:first-child .step-rail::before {
    background-color: transparent !important;
  }
  &:last-child .step-rail::after {
    background-color: transparent !important;
  }
}

.step-indicator {
  font-size: 1.5rem;
  color: $black-color;
  @include circle(3rem,#e9eaea);
  margin: 0 $step-wizard-circle-radius * 1.2;
  line-height: 3rem;
  border: $step-wizard-circle-radius/15 solid #e9eaea;
  &.active {
    background-color: $primary-color;
    color: $white-color;
    border-color: $primary-color;
    & + .step-text {
      color: $primary-color;
    }
    & ~ .step-rail::before {
      background: $primary-color;
    }
  }
  &.done {
    background-color: $white-color;
    color: $primary-color;
    border-color: $primary-color;
    & ~ .step-rail::before,
    & ~ .step-rail::after {
      background: $primary-color;
    }
  }
}

@mixin rail() {
  height: 100%;
  width: 50%;
  background: #e9eaea;
}

.step-rail {
  height: $step-wizard-circle-radius/15;
  width: 100%;
  position: absolute;
  left: 0;
  top: 1.5rem;
  display: flex;
  &::before {
    content: "";
    @include rail();
  }
  &::after {
    content: "";
    @include rail();
  }
  z-index: -1;
}

.step-text {
  margin-top: $step-wizard-circle-radius/4;
  color: #333333 ;
  font-size: $step-wizard-circle-radius * 0.5;
}
.general__BG{
  .content{
    background-color: #242424;
    border: 1px solid #707070;
  }
}