<section id="car">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-6 m-auto">
        <div class="content">
          <h2>XZERO CAR</h2>
          <p>اضافة اعلان جديد</p>
          <!-- <div class="step-container" *ngIf="steps">
            <div *ngFor="let step of steps; let i = index" class="step-block">
              <div class="step-indicator" [ngClass]="{ active: i + 1 === active, done: i + 1 < active }">
                {{ i + 1 }}
              </div>
              <div class="step-text">{{ step }}</div>
              <div class="step-rail"></div>
            </div>
          </div> -->

          <form class="text-left p-5" [formGroup]="loginForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="text" class="form-control" id="exampleInputEmail1" formControlName="email"
                aria-describedby="emailHelp" placeholder="Enter email">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
                placeholder="Password">
            </div>

            <button class="btn btn-primary" (click)="onSubmit(loginForm)">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>