#myIdeaSection {
    padding: 3.875rem 0;
}

.polls{
    .question-anwsers {
        border: 1px solid $border-gary;
        border-radius: 0.5rem;
        height: 28.625rem;
        overflow: hidden;
        position: relative;


        &:not(.default-image) {
            padding: 1.25rem;
        }

        &.default-image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h5 {
            font-size: 1.125rem;
            font-family: Max-SemiBold, sans-serif;
            margin-bottom: 1.25rem;
        }

        .answers {
            label {
                /* One radio button per line */
                display: block;
                cursor: pointer;
                margin-bottom: 1.25rem;

                &:last-child {
                    margin-bottom: 2rem;
                }

                input[type="radio"] {
                    border: 0;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                    z-index: 9999;


                    &+.answer {
                        display: block;
                        padding: 0.8125rem 1rem;
                        border: 1px solid $border-gary;
                        position: relative;

                        /* the basic, unchecked style */
                        &::before {
                            content: '';
                            height: 100%;
                            width: .375rem;
                            background: transparent;
                            position: absolute;
                            top: 0;
                            #{$left}: 0;
                            z-index: 99;
                            @include transition(background-color 600ms ease-in-out);
                        }

                        .answer-text {
                            margin: 0 !important;
                        }
                    }


                    /* the checked style using the :checked pseudo class */
                    &:checked {
                        &+.answer {
                            border: 0;
                            box-shadow: 0px 0.1875rem 0.375rem rgba($color:$black-color, $alpha: 0.16);
                            font-family: OpenSans-SemiBold, sans-serif;
                            @include transition(box-shadow 600ms ease-in-out);

                            &::before {
                                background-color: $fushia-color;
                            }
                        }
                    }
                }

                &:hover{
                    input[type="radio"] {
                        &+.answer {
                            box-shadow: 0px 0.1875rem 0.375rem rgba($color:$black-color, $alpha: 0.16);
                            @include transition(all 600ms ease-in-out);
                        }
                    }
                }
            }
        }

        .btn-vote {
            width: 8rem;
            position: absolute;
            bottom: 1.25rem;
            #{$left}: 50%;
            transform: translateX(-50%);
        }

        &.answers-view {

            h5 {
                font-size: 1.5rem;
            }

            .answer-container {
                display: flex;
                flex-direction: column;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }

                .answer-details {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .chart {
                    height: 1rem;
                    background: $bar-bg;
                    width: calc(100% - 4.25rem - 1.25rem);
                    margin: 0.5rem 0;

                    &>div {
                        height: 100%;
                        background: $percent-bg;

                        &.max {
                            background: $green-color;
                        }
                    }

                }

                .percentage {
                    color: $percent-bg;
                    font-size: 1.6rem;
                    width: 4.25rem;
                    margin-#{$left}: 1.25rem;
                    line-height: 2rem;
                    text-align: $right;

                    &.max {
                        color: $green-color;
                    }
                }

                .answer,
                .votes-number {
                    font-size: 1rem;
                    line-height: 0.875rem;
                }

                .answer {
                    color: $black-color;
                }


                .votes-number {
                    color: $text-gray;
                }
            }
        }
    }
}