.poll-listing {
    .polls {
        margin-bottom: 2.7rem;
    }

    .component-title {
        display: none;
    }

    .question-anwsers {

        h5 {
            font-size: 1.5rem;
        }
    }
}