// @import '../../../../../assets/sass/main';

.ride-card {
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 3px 6px rgba(black, 0.16);

    .bgImg {
        height: 14.125rem;
        border-radius: 4.1865rem;
        border-top-right-radius: 0;
        margin-bottom: 1rem;
    }


}

