#HappeningNowHome {

    .cards {
        padding: 1.875rem;
        border-radius: 0.25rem;
        background: $white-color 0% 0% no-repeat padding-box;
        box-shadow: 0px 0.25rem 0.5rem rgba($black-color, 0.12);
        position: relative;
        height: 20rem;
        margin-bottom: 3.125rem;

        span {
            padding: 0.25rem 1rem;
            border-radius: 0.25rem;
            text-transform: capitalize;
            display: inline-block;
        }

        a:not(.btn-more) {
            color: $black-color;
            display: block;
            line-height: 1.2;
            margin: 0.625rem 0;
            font-family: Max-SemiBold, sans-serif;
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: capitalize;
            @include transition(all 600ms);
        }

        p {
            color: $text-gray;
            overflow: hidden;
        }

        .btn-more {
            bottom: 1.875rem;
        }

    }

    .btn-container {
        flex: 0 0 100%;
        max-width: 100%;

        .btn-all {

            &::before{
                content: "\e901";
                margin-#{$right}: 0.65rem;
                font-family: 'icomoon' !important;
            }
        }
    }
}