.myIdeaTit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
    h3 {
        margin: 0;
    }
    .viewAllIdea {
        position: relative;
        color: $black-color;
        padding-#{$left}: 1rem; 
        &:hover , &:visited{
            color: $black-color;
            text-decoration: none;;

        }
        .AllIdeatxt {
            &:hover{
                text-decoration: underline;
            }
        }
        .icon-Next {
            content: '';
            position: absolute;
            #{$left}: 0;
            #{$right}: auto;
            top: 50%;
            border:  solid $secondary-color;
            border-width: 0 2px 2px 0;
            display: block;
            padding: 2px;
            transform: translateY(-50%) rotate(-45deg);
            -webkit-transform: translateY(-50%) rotate(-45deg);
            &:before{
                content: '' !important;
            }
        }
    }
}
.ideatxt {
    display: none;
}
.myIdeacont {
    background: 0% 0%/cover no-repeat url(../../images/Myidea.png);
    border-radius: 0.5rem;
    position: relative;
    min-height: 28.625rem;
    padding-top: 2.9375rem;
    margin: 0 !important;
    &:before {
        content: '';
        background: linear-gradient(239deg, rgba(255, 255, 255, 0), black);
        opacity: 0.64;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        position: absolute;
        z-index: 0;
        top: 0;
        #{$left}: 0;
        #{$right}: auto;
    }
    .myideaQouts {
        color: #817E7D;
        font-size: 4.5rem;
        font-family: "Magneto-Bold";
        position: absolute;
        top: 1.375rem;
        #{$left}: 0.9375rem;
    }
    .slognMyidea {
        padding-#{$left}: 2.5rem; 
        .slognData {
            font-size: 1.875rem;
            font-family: "Max-SemiBold"; 
            color: $white-color;
        }
        .slognWriter {
            font-family: "OpenSans-Regular";
            font-size: 1.125rem;
            color: $white-color;
            margin-top: 1.875rem;
            display: block;
        }
    }
    .formMyidea {
        display: flex;
        flex-direction: row;
        text-align:#{$right} ;
        form {
            width: 100%;
            .menuMyidea, .inputIdea, .descIdea {
                display: block;
                width: 100%;
                height: 2.75rem;
                margin-bottom: 0.625rem;
                background-color: rgba($white-color, 0.3) !important;
                border: 0 !important;
                color: $white-color !important;
                padding-#{$left}:0.9375rem !important;
                
            }
            .descIdea {
                min-height: 13.375rem;
                padding-top:  0.625rem;
            }
            .categoryMyidea {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    pointer-events: none;
                    #{$right}: 0.625rem;
                    top: 0.75rem;
                    border: solid #ffffff;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 5px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    margin: 0 5px;
                }
                .menuMyidea {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
            }
            .submitMyidea {
                background: $secondary-color;
                padding: 0.5rem 1.25rem;
                text-transform: uppercase;
                color: $white-color;
                font-size: 1rem;
                transition: all 600ms ease-in-out;
                margin-top: 0.625rem;
                margin-bottom: 2rem;
                box-shadow: 0px 3px 6px #00000029;
                &:hover {
                    background: transparent !important;
                    color: #fff;
                    border: 1px solid;
                    text-decoration: none;
                    box-shadow: none;
                }
            }
            ::placeholder {
                color: $white-color;
                opacity: 1; /* Firefox */
              }
              
              :-ms-input-placeholder { /* Internet Explorer 10-11 */
               color: $white-color;
              }
              
              ::-ms-input-placeholder { /* Microsoft Edge */
               color: $white-color;
              }
              .alertError {
                display: block;
                color: #b50000;
            }
        }
    }
    option {
        color: $secondary-color;
    }
}