// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    padding: 2.65rem 0 4.65rem;

    .logo,
    .social {
        padding-bottom: 0.8125rem;
    }

    .logo {
        font-size: 1.75rem;
        font-family: Max-SemiBold, sans-serif;
        color: $primary-color;
    }

    .social {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .icon,.icon:focus {
            font-size: 1.5rem;
            color: $primary-color;
            text-decoration: none;
            @include transition (all, 600ms, ease-in-out);

            &:not(:last-child){
                margin-#{$right}: 1.25rem;
            }

            &:hover, &:active{
                color: $secondary-color;
            }
            
        }
    }

    p.copyrights{
        color: $text-gray;
        margin: 0;
        padding-top: 0.8125rem;
        border-top: 1px solid #C7C7C7;
    }

    div.copyrights {
        p{
            display: none;
        }
    }
}