.welcome-control {
    display: flex;
    align-items: center;

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0.25rem 0.625rem;

        & > span {
            font-size: 0.8125rem;
        }
    }

    [id*="PictureUrlImage"] {
        @include square(3.75rem);
        border-radius: 50%;
        border: 3px solid $secondary-color;
        max-width: 100%;
    }

    .ms-welcome-root {
        border: 0;
        background: none;
        padding: 0;
        height: auto;
        line-height: 1.5rem;

        &>a.ms-core-menu-root {
            color: $black-color;
            font-family: Max-SemiBold, sans-serif;
            font-size: 1.25rem;

            &:before {
                content: '';
                border: solid $secondary-color;
                border-width: 0 0.1875rem 0.1875rem 0;
                display: inline-block;
                padding: 0.1875rem;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                margin: 0.1875rem 0.5rem;
            }
        }
    }

    .ms-core-menu-arrow {
        display: none !important;
    }

    .ms-menu-althov-active {
        span {
            &.ms-menu-hovarw {
                display: none !important;
            }
        }
    }
    .ms-welcome-root > .ms-core-menu-box.ms-core-menu-box, 
    .ms-siteactions-hover > .ms-core-menu-box.ms-core-menu-box{
        #{$left}: 0 !important;
        top: 2.6rem !important;
    }
} 