.user-weather {
  display: flex;
  flex-direction: row-reverse;
#weather{
  position: relative;
&:before, &:after {
  content: "";
  content: "";
  width: 1px;
  height: 3.25rem;
  background-color: $border-gary;
  position: absolute;
  top: 0.625rem;

  }
  &:after {
    #{$right}: 0;
}
&:before {
  #{$left}: 0;
}
.selectdiv {
  position: relative;
  line-height: 1.1;
  text-align:#{$right} ;
  #{$right}: 15px;
  .multiCitis{      
  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    #{$right}: 0px;
    top: 5px;
    border: solid $secondary-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0 5px;
}
}
  .singleCity {
  margin-#{$right}: 35px;
  font-size: 0.875rem;
  color: #555;
  font-family: "OpenSans-Regular";
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0px 30px 0px 20px;
  font-size: 0.875rem;
  color: $text-gray;
  background-color: transparent;
  -ms-word-break: normal;
  border: 0px;
  font-family: "OpenSans-Regular";
  margin-bottom: 0;
  text-transform: uppercase;
}
}
.weatherCont{
  display: flex;
  align-items: center;
  margin: 0px 20px 0px 20px;
  justify-content: space-between;
  .weatherIcon {
    margin-right: 0.45rem;
    width: 4.375rem;
    height: 2.4rem;
    object-fit: scale-down;
}
    .tempCont{
      display: flex;
      flex-direction: column;
  
    /* IE11 hide native button (thanks Matt!) */
    select::-ms-expand {
    display: none;
    }
    .weatherTemp {
      font-size: 2.375em;
      font-family: "OpenSans-SemiBold";
      position: relative;
      line-height: 1;
      text-align: center;
      color: $text-gray;
      .wdeagree , .slash {
        font-size: 1rem;
        display: inline-block;
        vertical-align: super;
        color: #C7C7C7;
        cursor: pointer;
        margin-#{$left}: 0.3125rem;
    }
    .slash {
      color: $text-gray;
      cursor:default;
    }
    .active{
      color: $text-gray;
    }
    }

}
}
}
}
