#CelebrationsHome {
  background-color: white;
  padding: 10px 1.875rem;
  #starOfMonth, #newCommers, #newCommers, #workAnnvrsry, #pormotions, #birthday {
    width: calc(100%/5);
    text-align: center;
    position: relative;
    .icon-star, .icon-Calendar, .icon-like, .icon-Birthday, .icon-megaphone {
      color: white;
      background-color: #F016B4;
      border-radius: 50%;
      height: 1.875rem;
      width: 1.875rem;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      position: absolute;
      top: 8.75rem;
      #{$left}: 10.625rem;
  }
    .celebrationTit {
      color: white;
      font-family: Max-SemiBold;
  }
  .celebrationCont {
    border-#{$right}: 1px solid rgba(255, 255, 255, 0.4);
}
}
#birthday{
  .celebrationCont {
    border-#{$right}:0;
  }
}


.newComersCont, .anniversCont , .promotionsCont , .birthdaysCont , .EmployeesOfTheMonthCont  {
  text-align: center;
  text-decoration: none;

.userProfile {
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}
.userName, .userDeprt, .userHireDate , .userBirthDate {
  display: block;
}
.userName {
  text-decoration: none;
  font-size: 1.375rem;
  font-family: "OpenSans-Semibold";
  color: white;
  margin-top: 20px;

}
.userDeprt , .userHireDate , .userBirthDate {
  font-size: 1rem;
  color: white;
}
}


.slick-prev, .slick-next {
  top: 4rem;
  width: 1.875rem;
  height: 1.875rem;
  z-index: 1000000;
  transition: 600ms ease-in-out;
&:hover, &:focus {
    background: transparent;
}
  &:before{
    content: '';
    pointer-events: none;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.45rem;
    transform: rotate(225deg);
    margin: 0 5px;
    transition: 0.3s;

    }
}
.slick-prev {
  #{$left}: 5.5rem;
  &:before{ 
 
    -webkit-transform: rotate(135deg);

  }
}
.slick-next {
  #{$right}: 5.5rem;
  &:before{
    -webkit-transform: rotate(315deg);
  }
}
.viewAllCelb {
  text-decoration: none !important;
  font-size: 1rem;
  color: #ffffff !important;
  display: block;
  margin-top: 1.25rem; 
  .icon-Next {
    padding-#{$right}: 5px;
}
}
}