#about-us {
    padding: 3rem 0;
    position: relative;
    color: $white;
   

    background-image: url('../images/L1.png'), url('../images/S.png');
    background-size: 15%, 18%;
    background-repeat: no-repeat;
    background-position: 3% 100%, 103% 78%;

    h4 {
        font-family: 'Pacifico-Regular';
        margin-bottom: 1.5rem;
    }

    .planet {
        position: absolute;
        max-width: 270px;
        left: 5%;
        /* top: 20%; */
        bottom: 0;
    }

    .soup {
        position: absolute;
        max-width: 370px;
        right: -4%;
        bottom: 0;
        transform: rotate(18deg);
    }

    p {
        line-height: 1.7;
    }

}