<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h5>victoria</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking
            at its layout. </p>
          <div class="social-media">
            <a href="#"><i class="icon-facebook icon"></i></a>
            <a href="#"><i class="icon-facebook icon"></i></a>
            <a href="#"><i class="icon-facebook icon"></i></a>
          </div>
          <div class="contact">
            <p>
              <i class="icon-facebook icon"></i>
             <span> Phone:</span> <a href="tel:+123 456 7890">+123 456 7890</a>
            </p>
            <p>
              <i class="icon-facebook icon"></i>
             <span> Email: </span><a href="mailto:info@victoria.com">info@victoria.com</a>
            </p>
          </div>
        </div>
        <div class="col-2">
          <h5>Services</h5>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking
            at its layout.
          </p>
        </div>
        <div class="col-2 links">
          <h5>Links</h5>
          <a href="#">About us</a>
          <a href="#">Privacy policy</a>
          <a href="#">Terms and conditions</a>
          <a href="#">News</a>
          <a href="#">Contact us</a>
        </div>
        <div class="col-4 news">
          <h5>Latest News</h5>
          <div class="media">
            <img src="https://images.pexels.com/photos/4031818/pexels-photo-4031818.jpeg" class="mr-3 img-fluid"
              alt="...">
            <div class="media-body">
              <h5 class="mt-0">Prices</h5>
              <p>September 25,2017</p>
            </div>
          </div>
          <div class="media">
            <img src="https://images.pexels.com/photos/3991793/pexels-photo-3991793.jpeg" class="mr-3 img-fluid"
              alt="...">
            <div class="media-body">
              <h5 class="mt-0">Prices</h5>
              <p>September 25,2017</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="copyright">
  <div class="container">
      <p class="">
        <span class="translate" key="copyrights">© 2020 Victoria, All Rights Reserved. Developed By </span>
        <a class="translate" key="code-zetta" href="http://codezetta.com" title="Code Zetta">Code Zetta</a>
      </p>
    </div>
  </div>
</footer>