<section class="about-us" [ngClass]="{'primary' : !theme, 'secondary' : theme}">
  <div class="media-center-bg" [ngClass]="{'primary' : !theme, 'secondary' : theme}">
    <img *ngIf="theme" alt="" src="../../../../../../assets/images/2.png">
    <img *ngIf="!theme" alt="" src="../../../../../../assets/images/3.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 mt-5 mt-md-0">
        <h2>{{title}}</h2>
        <!-- <h4>Customer thinks.</h4> -->
        <p>{{description}}</p>

        <button class="btn button-lg" [ngClass]="{'button-primary': !theme , 'button-secondary' : theme }">lorem</button>
      </div>
    </div>
  </div> 
</section>