// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button{
    box-shadow: none;
    outline: 0;
    border: none;
}
.button-primary{
    background-color: $primary-color;
    color: $white-color;
}
.button-secondary{
    background-color: $secondary-color;
    color: $white-color;
}
.button-outline{
    background-color: transparent;
    color: $white-color;
    border: 1px solid $white-color;
}