.component-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;

    h3 {
        margin: 0;
    }

    .btn-all {
        color: $secondary-color;

        a {
            text-transform: capitalize;
            color: $black-color;
            padding-#{$left}: 1rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: auto;
                top: 50%;
                border: solid $secondary-color;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 2px;
                transform: translateY(-50%) rotate(-45deg);
                -webkit-transform: translateY(-50%) rotate(-45deg);
            }
        }

        i{
            display: none;
        }
    }
}