<div class="content">
  <div class="media">
    <img src="../../../../assets/images/news/1.png" class="mr-3 img-fluid" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Prices</h5>
      <span>September 25,2017</span>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at
        its layout.</p>
      <button class="button">read more</button>
    </div>
  </div>
  <div class="media">
    <img src="../../../../assets/images/news/2.png" class="mr-3 img-fluid" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Fair Estimate</h5>
      <span>September 25,2017</span>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at
        its layout.</p>
      <button class="button">read more</button>
    </div>
  </div>
  <div class="media">
    <img src="../../../../assets/images/footer/f1.png" class="mr-3 img-fluid" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Prices</h5>
      <span>September 25,2017</span>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at
        its layout.</p>
      <button class="button">read more</button>
    </div>
  </div>
  <div class="media">
    <img src="../../../../assets/images/footer/f2.png" class="mr-3 img-fluid" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Fair Estimate</h5>
      <span>September 25,2017</span>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at
        its layout.</p>
      <button class="button">read more</button>
    </div>
  </div>
</div>