@import "../../../../../assets/sass/main";
section{
  padding: 3rem 0;
.driver-form {
  .next-step{
      .lbl{
          width: 35%;
      }
      .button-reset{
        margin-right: 1rem;
      }
  }
}
}
