<div class="row contact">
  <div class="col-6">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <form action="">
      <div class="row-form">
        <input type="text" placeholder="Name" class="form-control">
        <input type="email" placeholder="Email" class="form-control">
      </div>
      <input type="text" placeholder="Subject" class="form-control">
      <textarea name="" placeholder="Message" id="" cols="30" rows="10" class="form-control"></textarea>
      <button class="button button-primary button-md">send</button>
    </form>
  </div>
  <div class="col-6 social">
    <h4>Follow US</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <div class="social-media">
      <a href="#"><i class="icon icon-facebook"></i></a>
      <a href="#"><i class="icon icon-twitter"></i></a>
      <a href="#"><i class="icon icon-instagram"></i></a>
    </div>
  </div>
</div>