.input-group-append {
    width: 100%;
    text-transform: capitalize;
    cursor: pointer;

    .input-group-text {
        background: $primary;
        border: $primary;
        color: $white;
        border-radius: 0;

        &:last-of-type {
            box-shadow: -3px 0px 10px 0px $black;
        }
    }
}